.wrapper {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fc0000;
}


@media (max-width: 360px) {
    .wrapper {
        background-color: rgb(255, 255, 255);
    }
    .logo img {
        width: 200px;
        height: 200px;
    }
}