.wrapper {
    background-color: rgb(38, 9, 224);
    background-repeat: no-repeat;
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrappe {
    font-size: 20px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}


.button {
    font-size: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgb(254, 7, 7);
    background-color: transparent;
    border: 30;
    z-index: 100;
}

