.wrapper {
    background-color: rgb(2, 2, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    gap: 170px;
    color: #ffffff;
    padding-left: 80px;
    padding-right: 80px;
}



@media (min-width: 380px) {
    .wrapper {
    font-size: 20px;
    display: flex;
    text-align: center;
    } 
}

@media (min-width: 480px) {
    .wrapper {
    font-size: 24px;
    } 
}

@media (min-width: 768px) {
    .wrapper {
    font-size: 35px;
    } 
}

@media (min-width: 962px) {
    .wrapper {
    font-size: 35px;
    } 
}

@media (min-width: 1024px) {
    .wrapper {
    font-size: 35px;
    } 
}

@media (min-width: 1280px) {
    .wrapper {
    font-size: 43px;
    } 
}

@media (min-width: 1536px) {
    .wrapper {
    font-size: 44px;
    } 
}

@media (min-width: 1920px) {
    .wrapper {
    font-size: 50px;
    } 
}

