.wrapper {
    background-color: rgb(3, 3, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.blok {
  background-color: rgb(12, 0, 59);
  color: #ffffff;
  display: flex;
  text-align: center;
  width: 90%;
  height: 90%;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
  -moz-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
  box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
}


.wrapp {
  display: flex;
  font-size: 25px;
  flex-direction: column;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;     /* Вертикальное центрирование */
  margin: 0 auto;   /* При такой комбинации родитель становится по центру. */
  font-family: Arial, Helvetica, sans-serif; /* Разные интересные шрифты*/
  gap: 15px;
  }


.wrappBlokRossia {
    margin-top: 60px;
    z-index: 10;
}


.wrappBlokRu {
    color: #01ff38;
    font-size: 33px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -100px !important;
    z-index: 10;
}


.qsuvz {
    color: #ffffff;
}
.qtvxy {
    color: #ffffff;
} 
.qtvxz {
    color: #ffffff;
}
.qtvyz {
    color: #ffffff;
}
.qtwxy {
    color: #ffffff;
}
.qtwxz {
    color: #ffffff;
}
.qtwyz {
    color: #ffffff;
}


.wrappBlokAmeri {
    gap: 19px;
    margin-top: -70px;
    z-index: 20;
}


.wrappBlokSha {
    color: #01ff38;
    font-size: 33px;
    display: flex;
    flex-direction: column;
}


.rsvxy {
    color: #ffffff;
}
.qvwxy {
    color: #ffffff;
}
.qvwxz {
    color: #ffffff;
}
.qvwyz {
    color: #ffffff;
}
.qvxyz {
    color: #ffffff;
}
.qwxyz {
    color: #ffffff;
}
.rstuv {
    color: #ffffff;
}
.rstuw {
    color: #ffffff;
}


.wrappBlokArabic {
    gap: 12px;
    margin-top: 100px;
    z-index: 30; 
}


.wrappBlokArab {
    color: #01ff38;
    font-size: 39px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: -140px;
    z-index: 30;
}


.rvwxy {
    
}
.rsvxz {
   
}
.rsvyz {
   
}
.rswxy {
    
}
.rswxz {
    
}
.rswyz {
    
}
.rsxyz {
    
}
.rtuvw {
}


.buttonComma {
    font-size: 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    height: 30px;
    border: 2px solid #4dff00;
}



@media (max-width: 360px) {
    .wrapper {
        background-color: rgb(3, 3, 66);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
}
    .blok {
        background-color: rgb(12, 0, 59);
        display: flex;
        text-align: center;
        width: 90%;
        height: 90%;
        justify-content: center;
        -webkit-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
        -moz-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
        box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
}
    .wrappBlokRu {
        color: #01ff38;
        font-size: 22px;
}

    .wrappBlokAmeri {
        gap: 19px;
        margin-top: -70px;
        z-index: 20;
}

    .wrappBlokSha {
        color: #01ff38;
        font-size: 22px;
        display: flex;
        flex-direction: column;
}

    .wrappBlokArabic {
        gap: 12px;
        margin-top: 100px;
        z-index: 30;
}

    .wrappBlokArab {
        color: #01ff38;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: -140px;
        z-index: 30;
}
}


@media (max-width: 480px) {
    .wrapper {
        background-color: rgb(3, 3, 66);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
}
    .blok {
        background-color: rgb(12, 0, 59);
        display: flex;
        text-align: center;
        width: 90%;
        height: 90%;
        justify-content: center;
        -webkit-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
        -moz-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
        box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
}

.wrappBlokRu {
    color: #01ff38;
    font-size: 25px;
}
}


@media (max-width: 600px) {

}

@media (max-width: 768px) {

}



/* @media (min-width: 962px) {
    .text {
    font-size: 38px;
    } 
} */



/* @media (min-width: 1024px) {
    .text {
    font-size: 38px;
    } 
} */

/* @media (min-width: 1280px) {
    .blok {
    font-size: 66px;
    } 
} */

/* @media (min-width: 1536px) {
    .blok {
    font-size: 76px;
    } 
} */

/* @media (min-width: 1920px) {
    .blok {
    font-size: 108px;
    } 
} */
