.wrapper {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center;     /* Вертикальное центрирование */
    height: 100vh;
}


.wrapp {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.5;
    gap: 14px;
}


.wrappe {
    background-color: rgb(12, 0, 59);
    color: #ffffff;
    text-align: center;
    width: 90%;
    height: 90%;
    font-size: 17px;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
    box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
}


.buttonComma {
  background-color: black;
  height: 30px;
  border: 2px solid #3be502;

}


@media (min-width: 359px) {
.wrapp {
  font-size: 8px;
  margin-top: 40px;
  }

}



@media (min-width: 410px) {
.wrapp {
    font-size: 8,9px;
    gap: 8px;
  }
}


@media (min-width: 550px) {
.wrapp {
  font-size: 10px;
  margin-top: 50px;
  }
}


@media (min-width: 768px) {
  .wrapp {
    font-size: 12px;
  }
} 

@media (min-width: 1200px) {
  .wrapp {
    font-size: 14px;
  }
}

@media (min-width: 1300px) {
  .wrapp {
    font-size: 15px;
  }
}