.wrapper {
    background-color: rgb(19, 7, 69);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 10px;
}

.wrappe {
    background-color: rgb(12, 0, 59);
    color: #ffffff;
    text-align: center;
    width: 90%;
    height: 90%;
    font-size: 19px;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
    box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
}

.isava {
    display: flex;
    font-size: 20px;
    color: #961b1b;
    text-align: center;

}

.book {
    background-repeat: no-repeat;
}

.button {
    font-size: 20px;
    color: rgb(0, 255, 4);
    background-color: transparent;
    border: 30;
    z-index: 100;
}

.firstPage {
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #00ff26;
    
}


table.iksweb{
    margin-top: 130px;
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    text-align: center;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #ff0000;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #ff0000;
	color: #fff; 
	font-weight: normal;
}


.secondPage {
    background-color: rgb(31, 29, 29);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.thirdPage {
    background-color: rgb(200, 200, 217);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}


