
.wrapper {
  /* background-color: rgb(255, 255, 255); */
  font-size: 30px;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.intro {
  background-image: url("../assets/123.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: azure;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media (max-width: 920px) {
}
@media (max-width: 625px) {
}
@media (max-width: 425px) {
}
@media (max-width: 390px) {
}

