.wrapper {
    background-color: rgb(3, 3, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.blok {
  background-color: rgb(12, 0, 59);
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  width: 70%;
  height: 80%;
  padding-block: 180px;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
  -moz-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
  box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
}


.wrapp {
  display: flex;
  font-size: 25px;
  color: #00ff15;
  flex-direction: column;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;     /* Вертикальное центрирование */
  margin: 0 auto;   /* При такой комбинации родитель становится по центру. */
  font-family: Arial, Helvetica, sans-serif; /* Разные интересные шрифты*/
  gap: 15px;
  }



.textTsar {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 23px;
}


.button {
    font-size: 25px;
    color: rgb(0, 255, 4);
    background-color: transparent;
    border: 30;
}

