.blockFormLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

.blockLoginUser {

}


.blockWithTextRegAcc {

}

.labelAuth {
    margin-top: 20px !important;
  }