.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}


.Applogo {
    height: 250px;
    z-index: 10;
}


.subtitle {
  color: #000000;
  font-size: 58px;
}


.link {
  display: flex;
}


/* .app .Applogo .link .subtitle  */