.wrapper {
    background-color: rgb(4, 4, 4);
    background-repeat: no-repeat;
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 10px;
    /* margin: -200px; */
}


.book {
    background-repeat: no-repeat;
     width: 400px;
     height: 560px;
}

.button {
    font-size: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgb(254, 7, 7);
    background-color: transparent;
    border: 30;
    z-index: 100;
}

.firstPage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #ff0000;
    text-align: center;
}

.secondPage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #2fff00;
    text-align: center;
}

.thirdPage {
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

@media screen and (max-width: 576px) {
    .firstPage,
    .secondPage,
    .thirdPage {
        left: 15px !important;
        right: 15px !important;
        min-width: calc(100% - 30px) !important;
        width: calc(100% - 30px) !important;
    }

    .book {
        min-width: 100% !important;
    }
}