.wrapper {
    background-color: rgb(6, 6, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.blok {
    background-color: rgb(2, 2, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -260px;
    font-size: 40px;
    gap: 70px;
    color: #ffffff;
}



@media (max-width: 380px) {
    .blok {
    font-size: 20px;
    } 
}


@media (max-width: 480px) {
    .blok {
    font-size: 24px;
    } 
}


@media (max-width: 768px) {
    .blok {
    font-size: 26px;
    } 
}