.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;     /* Вертикальное центрирование */
  padding: 30px;  /* Отступ с четырёх сторон */
  max-width: 100%; /* Задаём максимальную ширину родителя */
  margin: 0 auto;   /* При такой комбинации родитель становится по центру. */
  height: 90vh;  /* Высота. родительского wrapper */
  font-family: Arial, Helvetica, sans-serif; /* Разные интересные шрифты*/
  }



.wrappe {
  background-color: rgb(12, 0, 59);
  color: #ffffff;
  text-align: center;
  width: 90%;
  height: 90%;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
  -moz-box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
  box-shadow: 0px 0px 59px 9px rgba(255, 0, 0, 0.56);
}


.wrae {
  margin-top: 70px;
}

.wraprrrp {
  color: #84ff00;
  font-size: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 70px;
}


.buttonComma {
  background-color: rgb(0, 0, 0);
  height: 25px;
  border: 2px solid #b90303;
  margin-bottom: 30px;
}


@media (max-width: 1300px) {
    .wrae {
    margin-top: 30px;
}
  .wraprrrp {
  color: #84ff00;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
}


@media (max-width: 1200px) {
    .wrae {
    margin-top: 30px;
}
  .wraprrrp {
  color: #84ff00;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
}


@media (max-width: 900px) {
  .wrae {
    margin-top: 10px;
}
  .wraprrrp {
  color: #84ff00;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
}



@media (max-width: 600px) {
  .wrae {
    margin-top: 30px;
}
  .wraprrrp {
  color: #84ff00;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
}




@media (max-width: 480px) {
  .wrae {
    margin-top: 20px;
}
  .wraprrrp {
  color: #84ff00;
  font-size: 10.5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}
}



@media (max-width: 360px) {
  .wrae {
    margin-top: 30px;
}
  .wraprrrp {
  color: #84ff00;
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
}




/* @media (min-width: 410px) {
.wrapp {
    font-size: 8,9px;
    gap: 8px;
  }
} */



/* @media (min-width: 550px) {
.wrapp {
  font-size: 10px;
  margin-top: 50px;
  }
} */



/* @media (min-width: 768px) {
  .wrapp {
    font-size: 12px;
  }
}  */



