.blockLoginUser {
    max-width: 500px;
    margin: 200px auto 0 auto;
    text-align: center;
    border: 2px solid grey;
    padding: 20px 0 60px 0;
    border-radius: 10px;
    font-size: 26px;
    position: relative;
    z-index: 100;
  }


.btnLogin {
    min-width: 100%;
    background-color: unset;
    color: rgb(10, 7, 65);
    border: 1px solid grey;
    padding: 8px 0;
    border-radius: 7px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }


.selectRole {
    width: 100%;
    text-align: left;
    margin: 10px 0;
  }


.selectRole {
    width: 100%;
    text-align: left;
    margin: 10px 0;
  }
  
.selectRole h3 {
    font-size: 23px;
  }
  
.selectRole p {
    font-size: 20px;
  }
  
.selectRole select {
    font-size: 18px;
    width: 100%;
  }
 

.politic {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    }


.blockInput {
  text-align: left;
  margin: 15px 0;
}


.blockInput label {
  font-size: 24px;
}


.blockInput input {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  height: 31px;
}


.textCreateAcc {
  font-size: 20px;
}


.textAuth {

}


.blockWithTextRegAcc {

}

.smallText {
  
}

@media (max-width: 550px) {
    .blockLoginUser {
      margin: 200px 20px 0 20px;
    }
  
    .blockLoginUser #textArea, .blockLoginUser #textArea2, .blockLoginUser .btnLogin {
      width: 100%;
      min-width: 100%;
    }
  
  }